@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@100;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Open+Sans:wght@300&family=Poppins:wght@400;500;600;700&display=swap');

:root{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    --font: #fff;
    --background: #222;
}
body{
    overflow-x: hidden;
    background-color: var(--background);
}
.container{
    width: 330px;
    height: 500px;
    padding: 20px;
    overflow: hidden;
    border-radius: 20px;
    background: linear-gradient(0deg, rgba(34,112,195,1) 0%, rgba(122,181,191,1) 46%, rgba(45,253,234,1) 100%);
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

}
.bg-clear{
    background: linear-gradient(0deg, rgba(2,195,190,1) 0%, rgba(203,205,119,1) 100%, rgba(45,66,253,0.12881649241727944) 100%);
}
.bg-clouds{
    background: linear-gradient(0deg, rgba(34,112,195,1) 0%, rgba(122,181,191,1) 46%, rgba(45,253,234,1) 100%);
}
.bg-drizzle{
    background: linear-gradient(0deg, rgba(42,50,57,1) 0%, rgba(122,181,191,1) 57%, rgba(45,253,234,0.12881649241727944) 100%);
}
.bg-rainy{
    background: linear-gradient(0deg, rgba(42,50,57,1) 0%, rgba(122,181,191,1) 100%, rgba(45,66,253,0.12881649241727944) 100%);
}
.bg-mist{
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(82,134,143,1) 100%, rgba(45,66,253,0.12881649241727944) 100%);
}
.searching{
    width: 330px;
    height: 100px;
    display: flex;
    justify-content: space-around;
}
.search{
    border: none;
    width: 250px;
    height: 50px;
    border-radius: 30px;
    font-size: 15px;
    margin-top: 30px;
    padding-left: 15px;
}
.search:hover{
    box-shadow: 0 0 15px gray;
}
.btn{
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    margin-top: 30px;
}
.btn:hover{
    box-shadow: 0 0 15px gray;
}
.weather-img{
    display: flex;
    justify-content: center;
    height: 150px;
}
.img{
    height: 150px;
    position:relative;
}
.city-degree{
    height: 150px;
    text-align: center;
}
.city-degree span{
    font-size: 50px;
    color: var(--font);
    margin-top: -6px;
}
.city-degree p{
    font-size: 35px;
    margin-top: -6px;
    color: var(--font);
    line-height: 36px;
}
.humidity-wind{
    color: var(--font);
    position: relative;
    display: flex;
    justify-content: space-around;
    line-height: 5px;
    padding-top: 18px;
}
.error{
    margin-left: 14px;
    font-size: 10px;
    position: absolute;
    top: 99px;
    color: black;
    display: none;
}
.weather{
    display: none;
}
.center{
    position: absolute;
    top: 60%;
    left: 45%;
    transform: translate(-50%, -50%);
}
.cloud{
    position: relative;
    width: 240px;
    height: 90px;
    border-radius: 50px;
    background: #fff;
    animation: move 8s linear infinite;
}
.cloud::before{
    content: '';
    position: absolute;
    top: -50px;
    left: 35px;
    background: #fff;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.cloud::after{
    content: '';
    position: absolute;
    top: -75px;
    right: 30px;
    background: #fff;
    width: 130px;
    height: 130px;
    border-radius: 50%;
}
.sun{
    position: absolute;
    margin: 0;
    padding: 0;
    width: 80px;
    height: 80px;
    background: #ffe208;
    border-radius: 50%;
    top: -80px;
    left: 30px;
    box-shadow: 0 0 15px rgba(255,255,8,.5);
    z-index: -1;
    animation: animate 20s linear infinite;
}
.sun li{
    list-style: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 112px;
    height: 3px;
    background: #ffe208;
    box-shadow: 0 0 15px rgba(255,255,8,.5);
    border-radius: 50%;
}
.sun li:nth-child(1){
    transform: translate(-50%,-50%) rotate(0deg);
}
.sun li:nth-child(2){
    transform: translate(-50%,-50%) rotate(90deg);
}
.sun li:nth-child(3){
    transform: translate(-50%,-50%) rotate(45deg);
}
.sun li:nth-child(4){
    transform: translate(-50%,-50%) rotate(-45deg);
}
.sun li:nth-child(5){
    transform: translate(-50%,-50%) rotate(22.5deg);
}
.sun li:nth-child(6){
    transform: translate(-50%,-50%) rotate(-22.5deg);
}
.sun li:nth-child(7){
    transform: translate(-50%,-50%) rotate(67.5deg);
}
.sun li:nth-child(8){
    transform: translate(-50%,-50%) rotate(-67.5deg);
}

@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes move{
    0%{
        transform: translate(0);
    }
    50%{
        transform: translate(50px);
    }
    100%{
        transform: translate(0);
    }
}